{{#if client.id}}
    <p>ФИО: {{input value=client.fullName}}</p>
    <p>Документ: {{input value=client.documentData}}</p>
    <button disabled={{not isDataValid}} {{action 'submit'}}>Сохранить</button>
{{/if}}