<h4>Удаление клиента</h4>
Поиск клиента по ФИО
{{filter-client-comp
    filteredClients=filteredClients
    searchClients=(action 'searchClients')
    selectClient=(action 'selectClient')
}}

{{del-client-comp
    clientId=clientId
    submit=(action 'delClient')
}}
