<h4>Редактирование клиента</h4>
Поиск клиента по ФИО
{{
filter-client-comp
    filteredClients=filteredClients
    searchClients=(action 'searchClients')
    selectClient=(action 'selectClient')
}}

{{
edit-client-comp
    client=client
    submit=(action 'applyChanges')
}}