<h4>Редактирование клиента</h4>
Поиск клиента по ФИО
{{filter-client-comp
    filteredClients=filteredClients
    showFilteredClients=(action 'showFilteredClients')
    showAllClients=(action 'showAllClients')
    selectClient=(action 'selectClient')
}}

{{edit-client-comp
    client=client
    submit=(action 'applyChanges')
}}